body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #ec4c8a;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

::-webkit-scrollbar {
  display: none;
}

.heroes {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .heroes {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .heroes {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 680px) {
  .heroes {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .heroes {
    grid-template-columns: repeat(1, 1fr);
  }
}
